@import '../../styles/variables';
@import '../../styles/responsive';

$min-width-mobile: 0;
$min-width: 80px;
$max-width: 230px;

.side-nav {
  min-width: $min-width;
  max-width: $min-width;
  height: 100%;
  background: linear-gradient(to bottom, $primary, $primaryDark);
  position: relative;
  transition: all 100ms ease-in-out;
  z-index: 3;

  @include responsive(lg) {
    min-width: $min-width-mobile;
    max-width: $min-width-mobile;
    position: absolute;
    height: calc( 100% - 80px );
  }

  .list {
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
    max-width: 100%;

    .item {
      width: 100%;
      border-top: 1px solid #ffffff11;

      &:last-child {
        border-bottom: 1px solid #ffffff11;
      }

      .link {
        display: flex;
        padding: 20px $padding;
        color: $secondary;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        .icon {
          font-size: 1.8em;
        }

        .label {
          display: none;
          flex: 1 1 auto;
          color: #aaaaffcc;
        }

        &:hover, &.active {
          background-color: #ffffff11;
        }
      }
    }
  }

  .switch {
    display: block;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    font-size: 0.6em;
    width: 25px;
    height: 25px;
    top: 70vh;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: $secondary;
    cursor: pointer;

    @include responsive(lg) {
      display: none;
    }
  }

  &.opened {
    min-width: $max-width;
    max-width: $max-width;

    @include responsive(lg) {
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: $max-width;
        width: calc( 100vw - #{$max-width} );
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    .list .item .link {
      .icon {
        margin-right: 10px;
      }

      .label {
        display: block;
      }
    }

    .switch {
      svg {
        transform: rotateZ(180deg);
      }
    }
  }
}
