<nav class="side-nav" [class.opened]="opened">
  <ul class="list">
    <li *ngFor="let route of routes" class="item">
      <a [routerLink]="route.path" routerLinkActive="active" class="link">
        <i class="icon" [ngClass]="route.icon"></i>
        <span class="label">{{route.label}}</span>
      </a>
    </li>
  </ul>
  <button class="switch" (click)="toggleSideNav()">
    <i class="fas fa-chevron-right"></i>
  </button>
</nav>
