@import 'src/app/styles/variables';
@import 'src/app/styles/responsive';

.main-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;

  .content-wrapper {
    display: flex;
    flex: 1 1 auto;
    padding-top: 80px;
    box-sizing: border-box;

    .content {
      flex: 1 1 auto;
      box-sizing: border-box;
      background-color: $primaryDark;
      background-image: url('/assets/img/background.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: luminosity;
      box-shadow: 2px 2px 6px #00000088 inset;

      @include responsive(md) {
        min-width: calc( 100vw - 80px );
      }
    }
  }
}
