<div class="main-layout">
  <app-header (toggleMenu)="toggleMenu()"></app-header>
  <div class="content-wrapper">
    <app-side-nav [(opened)]="openedSideNav"></app-side-nav>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
