<div class="header">
  <a routerLink="/" class="logo">
    <i class="fab fa-angular"></i>
  </a>
  <div class="notifications">
    <div *ngFor="let notification of notifications" class="notification">
      <span class="icon">
        <i [class]="notification.icon"></i>
      </span>
      <span class="counter">
        {{ notification.number }}
      </span>
    </div>
  </div>
  <div class="account">
    <span class="icon">
      <i class="fas fa-cog"></i>
    </span>
    <span class="icon">
      <i class="far fa-user"></i>
    </span>
  </div>
  <button class="switch" (click)="emitToggleMenu()">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
