@import 'src/app/styles/variables';
@import 'src/app/styles/responsive';

.header {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, $primary, $primaryDark);
  padding: $padding;
  box-sizing: border-box;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 4;

  .logo {
    width: 50px;
    max-height: 100%;
    font-size: 2.5em;
    color: #fff;
    text-align: center;

    @include responsive(sm) {
      width: auto;
      font-size: 2em;
    }
  }

  .account {
    font-size: 1.3em;
    color: $secondary;

    @include responsive(sm) {
      display: flex;
    }
    .icon {
      padding: $padding;
      cursor: pointer;

      @include responsive(sm) {
        padding: 5px;
      }
    }
  }

  .notifications {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    padding: 0 50px;

    @include responsive(sm) {
      padding: 0;
    }

    .notification {
      margin: 0 $padding;
      font-size: 1.5em;
      font-weight: bold;
      cursor: pointer;

      @include responsive(lg) {
        font-size: 1.5em;
      }

      @include responsive(md) {
        font-size: 1em;
      }

      .icon {
        color: $secondary;
      }
    }
  }

  .switch {
    display: none;
    position: absolute;
    left: 30px;
    font-size: 0.6em;
    width: 25px;
    height: 25px;
    bottom: 0;
    transform: translateY(50%);
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: $secondary;
    cursor: pointer;
    z-index: 2;

    &.opened {
      svg {
        transform: rotateZ(180deg);
      }
    }

    @include responsive(lg) {
      display: block;
    }
  }
}
