@import 'src/app/styles/responsive';
@import 'src/app/styles/variables';

$lateralMargin: 8px;

:host {
  display: flex;
  width: calc( 100% - #{$lateralMargin} * 2 );
  margin: 0 8px 15px 8px;
  border: 1px solid $secondary;
  border-radius: 5px;
  background: linear-gradient(to right, #ffffff22 0%, #ffffff22 20%, #ffffff77 100%);

  @include responsive(md) {
    flex-direction: column;
  }

  .campaign-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color);
    padding: $padding;
    box-sizing: border-box;
    height: 100%;
    min-width: 250px;
    border-right: 5px solid var(--color);

    @include responsive(md) {
      border-right: none;
      border-bottom: 5px solid var(--color);
    }

    .label {
      margin-bottom: 30px;
    }

    .icon {
      font-size: 4em;
    }
  }

  .campaign-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;

    @include responsive(md) {
      flex-direction: column;
    }

    .wrapper-info {
      display: flex;
      width: 50%;

      &:nth-child(odd) {
        border-right: 1px solid #ffffff66;
        border-bottom: 1px solid #ffffff66;
        box-sizing: border-box;
      }

      &:nth-child(even) {
        border-bottom: 1px solid #ffffff66;
      }

      &:nth-last-child(2) {
        border-bottom: none;
      }

      @include responsive(lg) {
        width: 100%;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $padding;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: $padding $padding $padding 0;

      &.row {
        flex-direction: row;

        .expand {
          flex: 1 1 auto;
          max-width: 50%;
        }
      }

      .label {
        color: $secondary;
      }

      .title {
        margin: 0;
        font-size: 1.4em;

        &.gradient {
          background: linear-gradient(to right, transparent, #272882);
          text-align: right;
          padding: 3px 10px;
          border-radius: 0 20px 20px 0;
        }
      }

      .decoration {
        display: flex;
        position: relative;
        justify-content: right;
        align-items: center;

        &:before {
          content: '';
          position: absolute;
          width: calc( 100% - 35px );
          height: 35px;
          background: linear-gradient(to right, transparent, transparentize(#F09520, 0.2));
          top: 50%;
          transform: translateY(-50%);
          right: 18px;
        }

        .icon {
          position: relative;
          width: 36px;
          height: 36px;
          background-color: #F09520;
          z-index: 1;
          box-sizing: border-box;
          border-radius: 50%;
          box-shadow: -1px 0px 5px #00000033;
        }
      }

      .user-status {
        position: relative;
        display: flex;
        align-items: center;
        height: 35px;
        background: linear-gradient(to right, green, transparent);
        border-radius: 20px;

        .icon {
          width: 35px;
          height: 35px;
          position: absolute;
          top: 0;
          left: 0;
          padding: $padding;
          box-sizing: border-box;
          border-radius: 50%;
          background-color: green;
          box-shadow: 0 0 5px #00000033;
        }

        .status {
          margin-left: 45px;
        }
      }
    }
  }
}
