<div class="campaign-category" style="--color: {{campaign.category.color}};">
  <span class="label">{{ campaign.category.name }}</span>
  <i [class]="campaign.category.icon" class="icon"></i>
</div>
<div class="campaign-info">
  <div class="wrapper-info">
    <div class="icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="info">
      <span class="label">Título de la campaña</span>
      <h3 class="title">
        {{ campaign.title | slice:0:20 }}...
      </h3>
    </div>
  </div>
  <div class="wrapper-info">
    <div class="icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="info row">
      <div class="expand">
        <span class="label">Tipo de la campaña</span>
        <h3 class="title">
          {{ campaign.type.name }}
        </h3>
      </div>
      <div class="decoration expand">
        <span class="icon">
          <i class="far fa-user"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="wrapper-info">
    <div class="icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="info">
      <span class="label">Estado de la campaña</span>
      <div class="user-status">
        <span class="icon">
          <i class="far fa-user"></i>
        </span>
        <span class="status">
          {{ campaign.status === 0 ? 'Activo' : 'Inactivo' }}
        </span>
      </div>
    </div>
  </div>
  <div class="wrapper-info">
    <div class="icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="info">
      <span class="label">Número de usuarios impactados</span>
      <h3 class="title gradient">
        {{ campaign.usersImpacted }}
      </h3>
    </div>
  </div>
  <div class="wrapper-info">
    <div class="icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="info">
      <span class="label">Fecha y hora de creación</span>
      <h3 class="title">
        {{ campaign.createdAt }}
      </h3>
    </div>
  </div>
  <div class="wrapper-info">
    <div class="icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="info">
      <span class="label">Fecha y hora de finalización</span>
      <h3 class="title">
        {{ campaign.updateAt }}
      </h3>
    </div>
  </div>
</div>
